
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
   
   background-color: #8dc6ff;
    font-family: sans-serif;
}


.nav-bar{
     
    background-color: #22313f;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    
}
.lista{
    list-style-type: none;

}
.lista li a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
}

.lista{
    margin: 0;
    padding: 0;
}

.lista li a:hover{
      text-decoration: underline;
}


.seccion1{
    background-image: white;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 50px;
    height: 100px;
    object-fit:cover;
}